<%# CSS・・・assets/stylesheets/shared/header.css %>
<body>
  <header class='top-page-header'>
    <h1 id="logo">
      <%= image_tag 'logo.jpeg', alt: 'Logo' %>
    </h1>
    <div class="container">
      <ul class='lists-right'>
        <li>
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                  <span class="user-role">管理人</span>
              <% else %>
                  <span class="user-name">
                    <%= "#{current_user.last_name} #{current_user.first_name}さん" %>
                  </span>
              <% end %>
              <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, method: :delete %>
            <% end %>
            <% if user_signed_in? && current_user.admin? %>
            <div class="news-link">
              <a href="<%= new_post_path %>" >回覧板新規投稿</a>
            </div>
            <% end %>
        </li>
      </ul>
      <a href="https://lin.ee/sbALW6J" class="line-hidden">
        <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="20" border="0" class="small-image">
      </a>
    </div>
  </header>
  <div id="menubar">
    <nav>
      <ul>
        <li><a href="<%= posts_path %>">ホーム</a></li>
        <% if @posts.present? %>
          <% if user_signed_in? %>
            <li><%= link_to '回覧板', post_path(@posts.first) %></li>
          <% else %>
            <li><%= link_to '回覧板', posts_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to '回覧板', posts_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to 'バックナンバー', menu_path %></li>
        <% else %>
          <li><%= link_to 'バックナンバー', posts_path %></li>
        <% end %>
        <li class="hide-on-mobile"><a href="<%= new_access_path %>">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var userAgent = navigator.userAgent || navigator.vendor || window.opera;
    if (/Line/i.test(userAgent)) {
      // LINEアプリ内ブラウザでアクセスしている場合は要素を非表示にする
      var lineElements = document.querySelectorAll('.line-hidden');
      lineElements.forEach(function(element) {
        element.style.display = 'none';
      });
    }
  });
</script>
</body>