<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :date, '日付' %>
    <%= form.date_field :date %>
  </div>
  <br>
  <div>
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :text, '内容' %>
    <%= form.text_area :text %>
  </div>
  <br>
  <div>
    <%= form.label :pdfs, hidden: true %>
  </div>
  <br>
  <div class="file-group">
    <% if @post.pdfs.attached? %>
      <% @post.pdfs.each do |pdf| %>
        <div><%= link_to pdf.filename, pdf %></div>
      <% end %>
    <% end %>
    <%= form.file_field :pdfs, multiple: true, accept: 'application/pdf,image/png,image/jpeg' %>
    <% if @post.pdfs.attached? %>
      <% @post.pdfs.each do |pdf| %>
        <%= form.hidden_field :pdfs, value: pdf.signed_id %>
      <% end %>
    <% end %>
    <%= form.submit '投稿する', class: 'submit-button' %>
  </div>
  <br>
  <div>
    <%= form.submit submit_button_text, class: 'submit-button' %>
  </div>
<% end %>