<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :date, '日付' %>
    <%= form.date_field :date %>
  </div>
  <br>
  <div>
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :text, '内容' %>
    <%= form.text_area :text %>
  </div>
  <br>
  <% if @post.pdfs.attached? %>
    <div class="attached-files">
  <% @post.pdfs.each do |pdf| %>
    <div>
      <%= check_box_tag "ファイルを削除する", pdf.id %>
      <%= pdf.filename %>
    </div>
  <% end %>

  <div>
    <%= form.label :pdfs, 'ファイルを添付' %>
  </div>
  <div class="file-group">
    <%= form.file_field :pdfs, multiple: true, accept: 'application/pdf' %>
  </div>
  <br>

  <div class="submit-button-container">
    <%= form.submit submit_button_text, class: 'submit-button' %>
  </div>
<% end %>