<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup/1.1.0/magnific-popup.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup/1.1.0/jquery.magnific-popup.min.js"></script>
  <meta charset="UTF-8">
  <link rel="stylesheets" href="style.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* 画面の高さいっぱいに伸ばす */
    }
    main {
      flex: 1; /* メインコンテンツが残りのスペースをいっぱい使う */
    }
    footer small {font-size: 100%;}
    footer {
      font-size: 0.7rem;		/*文字サイズ。bodyのfont-sizeの70%です。*/
      text-align: center;		/*内容をセンタリング*/
      padding: 20px;			/*ボックス内の余白*/
      color: #fff;			/*文字色*/
      background: #f88989;		/*背景色。css冒頭で指定しているテーマカラーを読み込みます*/
    }

    footer a {color: inherit;text-decoration: none;}

    footer .pr {display: block;}
  </style>
</head>

<body>
  <%= render "devise/shared/header" %>

  <main>
    <div id="container">
      <div id="contents">
      <br>
      <div class="wrapper">
        <h2>お知らせ</h2>
        <br>
        <div class="meeting">
          <% if current_user&.admin? %>
            <%= form_for @meeting, url: meetings_path do |form| %>
              <div>
                <%= form.label :date, '次回の理事会の日程', class: 'nittei' %>
                <%= form.date_field :date %>
              </div>
              <br>
              <div>
                <%= form.submit '設定', class: 'btn btn-danger' %>
              </div>
            <% end %>
          <% end %>
          <br>
          <div class="meeting-day">
            <% @meeting = Meeting.last %>
              <% if @meeting&.date.present? %>
                次回の理事会は<%= @meeting.date.strftime('%Y年%m月%d日') %>です。
            <% else %>
              次回の理事会は未定です。
            <% end %>
          </div>
        </div>
      </div>
      <br>
    </div>
  </main>

  <!--/#contents-->

  <%= render "devise/shared/footer" %>
</body>

</html>