<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup/1.1.0/magnific-popup.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup/1.1.0/jquery.magnific-popup.min.js"></script>
  <meta charset="UTF-8">
  <link rel="stylesheets" href="style.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>

<%= render "devise/shared/header" %>

<main>
  <body>
    <div id="container">
    <div id="contents">
    <br>
    <div class="wrapper">
      <h2>お知らせ</h2>
      <br>
      <div class="meeting">
        <% if current_user&.admin? %>
          <%= form_for @meeting, url: meetings_path do |form| %>
            <div>
              <%= form.label :date, '次回の理事会の日程' %>
              <%= form.date_field :date %>
            </div>
            <div>
              <%= form.submit '設定', class: 'btn btn-danger' %>
            </div>
          <% end %>
        <% end %>
        <div class="meeting-day">
          <% @meeting = Meeting.last %>
            <% if @meeting&.date.present? %>
              次回の理事会は<%= @meeting.date.strftime('%Y年%m月%d日') %>です。
          <% else %>
            次回の理事会は未定です。
          <% end %>
        </div>
      </div>
    </div>
    <br>
  </body>
</main>

<!--/#contents-->

<%= render "devise/shared/footer" %>
</html>